@model WebpagesMVC.Models.WebPageVM

@{
    ViewBag.Title = "ObtenerSitiosWeb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><sub>Lista de webpages a testear:</sub></h2>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sitio in Model.WebPages) 
        {
        <tr>
            <td><a class="btn-link" href="@sitio.URL">@sitio.Nombre</a></td>
        </tr>
        }
    </tbody>
</table>

