@{
    ViewBag.Title = "Test page";
}

<div class="jumbotron">
    <h1>ASYNC METHODS IN C#</h1>
</div>

<div class="row">
    <div class="col-md">
        <h3>Testeando metodos asincrónicos en la dev branch</h3>
        <span class="codigo">
            <pre>
                <code>
                    public <strong>async Task< tipo retorno ></strong> NombreMetodo()
                    {
                        <strong>await</strong> action;
                    }
                </code>
            </pre>
        </span>
    </div>
</div>